
header {
    background: #1f2022;
    border: 1px solid #777777;
    padding: 20px 0;
    border-bottom: solid 2px #000000;

}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

main{

    height: 1300px;
    position: relative;
    background: url(img/barb.jpg);


}

.lista{
    display: inline-block;
    text-align: top;
}
.principal {

    position: relative;
    background: #000000aa;
    text-align: left;
    padding: 20px;
    width: 600px;
    margin: 80px 30px;
    border-radius: 20px;
    font-size: 18px;
    color: #c4c1c1;
    display: inline-block;
}

.titulos-centralizado{

    text-align: center;
    font-size: 30px;
    font-weight: bold;    text-align: top;
    padding-bottom: 10px;

}

.titulos-centralizado p{

    font-size: 40px;
    font-weight: bold;
    
}
#missao {

	font-style: italic;
    font-weight: bold ;

}

main p strong {
	color: #FF0000;
}

#banner {

    position: relative;
	width:70%;
    margin: 0 auto;
    left: 10%;
}

nav {

    position: absolute;
    top:110px;
    right: 0;
    
}

nav li {

    display: inline;
    margin: 0 0 0 50px;
    
    }

.home_pagina{
    color: #f45206;
    
}   


nav a {

    text-transform: uppercase;
    color: #cac0fe;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}
 
nav a:hover {

    color: #f45206;
    text-decoration: underline;  
    
}  

nav a:active {

    color: #2fcc23;
    text-decoration: underline;  
    font-size: 25px;

}

.teste {


}
.beneficios {

    position: relative;
    background: url(img/beneficios.jpg);
    width: 600px;
    height: 200px;
    border-radius: 20px;
    margin: 40px 30px;
    padding: 20px;

}

.titulos-centralizado{

    color: #c4c1c1;
    margin-bottom: 30px;
    
}

.itens {
    margin: 10px auto;
    font-size: 22px;
    color: #c4c1c1;
}

.cortes{

    position: relative;
    margin: 20px 20px;
    padding: 5px;
    bottom: 250px;
    text-align: right;
    height: 400px;
    
}

.corte1 {
    border:2px solid #4d3d3d;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-radius: 40px;
    background: #f8eeee97; 
    margin: 0 10px;
    display: inline-block;

}

.corte2 {

    
    position: relative;    
    border: 2px solid #4d3d3d;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-radius: 40px;
    background: #f8eeee97;
    margin: 0 10px;
    bottom: 440px;
    right: 260px;
    

}

.corte_titulo {

    position: relative;
    color: #ebe6e6;
    font-size: 40px;
    font-weight: bold;
    margin: auto 90px;
    bottom: 50px;
    left: 38px;
}


footer {

    background: url(img/bg.jpg);
    padding: 50px 0;
    text-align: center;
}

.copyright {

    font-size: 11px;
    font-weight: normal;
    color: rgb(248, 248, 248);
    margin-top: 20px;
}

